<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
</head>
<body>
    <div class="header">
       <span class="logo-name">LOGO</span>
        <span class="logo-line"></span>
        <span class="logo-under-name">unijob</span>
        <a href="#"><%= image_tag("userIcon.png", :class => "img-userIcon") %></a>
    </div>
    <div class="content">
        <div class="main-menu">
            <a class="main-menu-button" href="#">СПЕЦИАЛЬНОСТИ</a>
            <a class="main-menu-button" href="#">КАРТА</a>
            <a class="main-menu-button" href="#">БЛОГ</a>
            <a class="main-menu-button" href="#">НОВОСТИ</a>
            <input class="input-main">
            <a href="#"><%= image_tag("searchIcon.png", :class => "img-searchIcon") %></a>
        </div>
        <div class="orange-line">

        </div>
        <div class="main-logo">
            <%= image_tag("logo1.png", :class => "main-logo1") %>
            <img class="main-logo1" src="/images/logo1.png">
        </div>
    </div>
    <div class="futter">

        </div>
    </div>
</body>
</html>